@model Assignment3_N01434210.Models.Teacher

@{
    ViewBag.Title = "Show";
}
<h2>Teacher's Information</h2>
<main id="containershow">
    <div>
         <a class="navlinkleft" href="/Teacher/List">Back To Teachers</a>
         <a class="navlinkleft" href="/Teacher/Update/@Model.TeacherId">Update</a>
         <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </div>
    <div class="showTeacher-div">
    <h3>@Model.TeacherFname @Model.TeacherLname</h3>
    <p>Join Since @Model.HireDate.ToString("dd-MMM-yyyy")</p>
    <p>Salary: $@Model.Salary</p>
    </div>

</main>
<aside class="aside1">
    <h3>Classes taught by @Model.TeacherFname @Model.TeacherLname</h3>
    <ul>
        @foreach (var classes in Model.ClassTeachBy)
        {
            <li>@classes.ClassCode @classes.ClassName</li>
        }
    </ul>
</aside>











