@model Assignment3_N01434210.Models.Teacher

@{
    ViewBag.Title = "Update";
}
<!--Using value from ampModel.Teacher to extract previous value -->
<!--script (validation) prior submit update form was added at bottom of page-->
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form class="newTeacher_form" method="POST" action="/Teacher/Update/@Model.TeacherId" onsubmit="return validateTeacher();">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />
        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

        </div>
        <div class="inputrow">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
        </div>
        <div class="inputrow">
            <label for="HireDate">Hire Date:</label>
            <input type="text" id="HireDate" name="HireDate" value="@Model.HireDate" />
        </div>
        <div class="inputrow">
            <label for="Salary">Salary:</label>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary"></>
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>

<script src="~/Scripts/updateTeacher.js"></script>



